body {
  background-color: black;
  user-select: none;
}

.pacman {
    position: absolute;
	background-color: green;
	z-index: 1;
	transition: top 200ms, left 200ms;
}

.cat {
	position: absolute;
	background-color: green;
	z-index: 1;
	transition: top 200ms, left 200ms;
}

.wall {
	position: absolute;
	background-color: blue;
}