body {
  background-color: black;
}

.pacman {
  position: fixed;
  width: 30px;
  transition: top 100ms;
}

.cat {
	width: 100px;
	height: 100px;
	position: fixed;
	background-image: url("img/cat.png");
	background-size: contain;
}
