body {
  background-color: black;
  user-select: none;
}

.pacman {
    position: fixed;
	background-color: green;
	z-index: 1;
}

.cat {
	position: fixed;
	background-image: url("img/cat.png");
	background-size: contain;
	background-color: red;
	z-index: 1;
}

.wall {
	position: absolute;
	background-color: blue;
}